<table id="table" class="table">
            {% if not users %}
              <p style="color:red;">The database is empty, consider adding a user.</p>
            {% else %}
            <th>Username</th><th>Admin</th><th>Confirmed</th><th>Phone Number</th><th>Action</th>
        {% for row in users %}
            <tr>
                <td>{{ row[1] }}</td>
                {% if row[2] == 1 %}
                    <td class="adminRow" id="adminRow{{ row[0] }}">Yes</td>
                {% else %}
                    <td class="adminRow" id="adminRow{{ row[0] }}">No</td>
                {% endif %}
                {% if row[3] == 1 %}
                    <td>Yes</td>
                    <td>{{ row[4] }}</td>
                    <td class="delRow" id="delRow{{ row[0] }}"><input type="button" value="Delete" class="deleteBtn" id="deleteBtn{{ row[0] }}" data-value="{{ row[0] }}" />
                    <input type="button" value="{{ 'Make Admin' if row[2] == 0 else 'Remove Admin' }}" class="makeAdminBtn" id="makeAdminBtn{{ row[0] }}" data-value="{{ row[0] }}" />
                    <p class="confirmNote" id="confirmNote{{ row[0] }}">Are you sure?</p>
                                <input type="button" class="thisYesBtn" id="thisYesBtn{{ row[0] }}" value="Yes" name="yesBtn"
                                data-value="{{ row[0] }}" />
                                <input type="button" class="thisNoBtn" id="thisNoBtn{{ row[0] }}" value="No" name="noBtn"
                                data-value="{{ row[0] }}" /></td>
                {% else %}
                        <td><input type="button" value="Confirm" class="confirmBtn" id="confirmBtn{{ row[0] }}" data-value="{{ row[0] }}" />
                            <input type="button" value="Deny" class="denyBtn" id="denyBtn{{ row[0] }}" data-value="{{ row[0] }}" />
                            <p class="confirmText" id="confirmText{{ row[0] }}">Are you sure?</p>
                            <input type="button" class="confirmYesBtn" id="confirmYesBtn{{ row[0] }}" value="Yes" name="yesBtn"
                            data-value="{{ row[0] }}" />
                            <input type="button" class="denyNoBtn" id="denyNoBtn{{ row[0] }}" value="No" name="noBtn"
                            data-value="{{ row[0] }}" /></td>
                        <td>{{ row[4] }}</td>
                        <td><input type="button" value="Delete" disabled/><input type="button" value="Make Admin" disabled/></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
        {% endif %}