<table id="table" class="table">
            <th>Username</th><th>Admin</th><th>Confirmed</th>
        {% for row in users %}
            <tr>
                <td>{{ row[1] }}</td>
                {% if row[2] == 1 %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                {% if row[3] == 1 %}
                    <td>Yes</td>
                    {% else %}

                        <td><input type="button" value="Confirm" class="confirmBtn" id="confirmBtn{{ row[0] }}" data-value="{{ row[0] }}" />
                            <input type="button" value="Deny" class="denyBtn" id="denyBtn{{ row[0] }}" data-value="{{ row[0] }}" />
                            <p class="confirmText" id="confirmText{{ row[0] }}">Are you sure?</p>
                            <input type="button" class="confirmYesBtn" id="confirmYesBtn{{ row[0] }}" value="Yes" name="yesBtn"
                            data-value="{{ row[0] }}" />
                            <input type="button" class="denyNoBtn" id="denyNoBtn{{ row[0] }}" value="No" name="noBtn"
                            data-value="{{ row[0] }}" /></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>