{% for row in parts %}
        <p id="myName">Name: {{ row[1] }}</p>

        <p id="myNumber">Part Number: {{ row[3] }}</p>

        <p id="myVan">Van Number: <a href="/vans/{{ row[4] }}">{{ row[4] }}</a></p>

        <p id="myAmount">Amount: {{ row[2] }}</p>
    {% if not row[5] %}
        <input type="button" value="Set minimum threshold" id="updateThresh" class="updateThresh" />
        {{ form.newThresh(class=form.newThresh.name, min=1, default=1, id=form.newThresh.name, value=1, placeholder='Threshold') }}
        {{ form.id(value=row[0]) }}
        {{ form.submitBtn(class=form.submitBtn.name, id= form.submitBtn.name) }}
        <input type="button" value="Cancel" id="cancelBtn" class="cancelBtn" />
    {% else %}
        <p id="myThresh">Threshold: {{ row[5] }}</p>
        <input type="button" value="Update minimum threshold" id="updateThresh" class="updateThresh" />
        {{ form.newThresh(class=form.newThresh.name, min=1, id=form.newThresh.name, value=row[5], placeholder='Threshold') }}
        {{ form.id(value=row[0]) }}
        {{ form.submitBtn(class=form.submitBtn.name, id= form.submitBtn.name) }}
        <input type="button" value="Cancel" id="cancelBtn" class="cancelBtn" />
    {% endif %}
{% endfor %}