<span id="mySpan" class="table">
  {% for row in part_store_names %}
  <a href="/parts/stores/{{ row[1] }}" id="link">{{ update_form.id(value=row[0]) }}
      <img class="myCard" id="myCard{{ row[0] }}" data-image="{{ row[2] }}" src="{{ url_for('static', filename='assets/stores/'~row[2]~'.svg') }}"
    width="100px" height="100px" /><p class="thisPartStoreName" id="thisPartStoreName{{ row[0] }}">{{ row[1] }}</p></a>
    {% if session['is_admin'] %}
    <form>
      <input type="button" id="deleteBtn{{ row[0] }}" class="deleteBtn" value="Delete" data-value="{{ row[0] }}">
      <input type="button" id="updateBtn{{ row[0] }}" class="updateBtn" value="Edit" data-value="{{ row[0] }}">
        <p class="confirmMe" id="confirmMe{{ row[0] }}">Are you sure?
        <input type="button" class="yesBtn" id="yesBtn{{ row[0] }}" value="Yes" name="yesBtn"
        data-value="{{ row[0] }}" />
        <input type="button" class="noBtn" id="noBtn{{ row[0] }}" value="No" name="noBtn"
        data-value="{{ row[0] }}" /></p>
    {{ update_form.partStoreName(class=update_form.partStoreName.name, id=update_form.partStoreName.name ~ row[0], value=row[1], data_value=row[1]) }}
    {{ update_form.newPartStoreImage(class=update_form.newPartStoreImage.name, id=update_form.newPartStoreImage.name ~ row[0], value=row[1], data_value=row[1]) }}
    {{ update_form.confirmUpdateBtn(class=update_form.confirmUpdateBtn.name, type='button', id=update_form.confirmUpdateBtn.name ~ row[0], data_value=row[1]) }}
    {% endif %}
    <input type="button" class="cancelUpdateBtn" name="cancelUpdateBtn" id="cancelUpdateBtn{{ row[0] }}" value="Cancel"
    data-value="{{ row[0] }}" />
    </form>
    {% endfor %}
  </span>