<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel=stylesheet href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src= "{{ url_for('static', filename='js/updateVans.js') }}"></script>
    {#  JS Package for the HTMX package  #}
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    {#  JS CDN For the pulltorefresh package  #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pulltorefreshjs/0.1.22/index.umd.js"
            integrity="sha512-c08RNGquBScVDxl/Yf50kga+4ZEI/xuqjBxwFUTFjnRn4Zoz1qcd2m5e/E+Pi+2b0O+lwDPz+J9N3ZzHTbnxHA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Inventory Application</title>
</head>
<div id="container" class="container">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
<body>
    <div class="header">
        <h3 id="logoName">Inventory Application</h3>
    </div>
    <div id="sidenav" class="sidenav">
        <a href="/">Inventory</a>
        <a href="/vans">Vans</a>
        <a href="#">Reports</a>
    </div>
    {#  JS Package for JQUERY  #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src= "{{ url_for('static', filename='js/sidenav.js') }}"></script>
    <div class="main" id="card">
        <form id="myForm">
            <p id="instructions">Enter the Part Name and Part Number: </p>
            <input type="text" id="partName" name="partName" placeholder="Part Name" required pattern="^\w+( +\w+)*$" />
            <input type="text" id="partNumber" name="partNumber" placeholder="Part Number" required pattern="^\w+( +\w+)*$" />
            <input type="submit" id="submit" value="Submit">
        </form>
        <div id="table">
            <table border="1" class="table">
            <th>Part Name</th><th>Part Number</th><th>Van</th><th>Action</th><br/>
        {% for row in results %}
              <tr>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td>{{ row[3] }}</td>
                  <td><input type="button" value="Delete" id="deleteBtn" name="deleteBtn"
                             onclick="deleteMe({{ row[0] }})" />
                    <input type="button" name="updateBtn" id="updateBtn" value="Edit"
                           onclick="updateMe({{ row[0] }}, {{ row[3] }})" />
                  </td>
              </tr>
        {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>