<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href={{ url_for("static", filename="css/stylesheet.css") }} rel="stylesheet">
    <script src={{ url_for("static", filename="js/reload.js") }}></script>
    <title>Inventory Application</title>
</head>
<body>
<form action="http://localhost:5000/" method="POST">
    <input type="text" name="partName" placeholder="part name" required/>
    <input type="text" name="partNumber" placeholder="part number" required>
    <input type="submit" id="submit">
</form>
<div>
    <table border="1" id="table">
    <th>Part Name</th> <th>Part Number</th><br/>
{% for row in results %}
      <tr>
         <td>{{ row[0] }}</td>
         <td>{{ row[1] }}</td><br/>
      </tr>
    {{ error }}
{% endfor %}
    </table>
</div>
</body>
</html>