<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel=stylesheet href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src= "{{ url_for('static', filename='js/reload.js') }}"></script>
    <title>Inventory Application</title>
</head>
<body>
    <div class="header">
        <img src ="{{ url_for('static', filename='assets/logo.png') }}" style="float: left;" alt="SOS Irrigation"
             width="70" height="50" class="logo">
        <h3 id="logoName">Inventory Application</h3>
        <div class="header-right">
            <a class="active" href="#home">Home</a>
            <a href="#profile">Profile</a>
            <a href="#settings">Settings</a>
        </div>
    </div>

    <div class="sidenav">
        <a href="#">Inventory</a>
        <a href="#">Orders</a>
        <a href="#">Reports</a>
        <a href="#">Contact</a>
    </div><br><br><br>

<form action="http://{{ host }}:{{ port }}/" method="POST">
    <p>Enter the Part Name and Part Number: </p>
    <input type="text" name="partName" placeholder="Part Name" required pattern="^(\w+\S+)$"/>
    <input type="text" name="partNumber" placeholder="Part Number" required pattern="^(\w+\S+)$"/>
    <input type="submit" id="submit"><br><br><br>
</form>

<div id="table">
    <table border="1" class="table">
    <th>Part Name</th> <th>Part Number</th><br/>
{% for row in results %}
      <tr>
         <td>{{ row[1] }}</td>
         <td>{{ row[2] }}</td>
      </tr>
{% endfor %}
    </table>
</div>

</body>
</html>