<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel=stylesheet href="{{ url_for('static', filename='css/stylesheet.css') }}">
    {#  JS Package for the HTMX package  #}
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    {#  JS CDN For the pulltorefresh package  #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pulltorefreshjs/0.1.22/index.umd.js"
            integrity="sha512-c08RNGquBScVDxl/Yf50kga+4ZEI/xuqjBxwFUTFjnRn4Zoz1qcd2m5e/E+Pi+2b0O+lwDPz+J9N3ZzHTbnxHA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Inventory Application</title>
</head>
<div id="container" class="container">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
<body>
    <div class="header">
        <h3 id="logoName">Inventory Application</h3>
    </div>
    <div id="sidenav" class="sidenav">
        <a href="/">Inventory</a>
        <a href="/vans">Vans</a>
        <a href="#">Reports</a>
    </div>
    {#  JS Package for JQUERY  #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src= "{{ url_for('static', filename='js/sidenav.js') }}"></script>
    <script src= "{{ url_for('static', filename='js/van.js') }}"></script>
    <div class="main" id="card">
    </div>

</body>
</html>