{% extends "base.html" %}
{% block scripts %}
<script src= "{{ url_for('static', filename='js/ns/namespace.js') }}"></script>
<script src= "{{ url_for('static', filename='js/van/van-parts-addPart.js') }}"></script>
<script src= "{{ url_for('static', filename='js/van/van-parts-deletePart.js') }}"></script>
<script src= "{{ url_for('static', filename='js/van/van-parts-updatePart.js') }}"></script>
{% endblock %}
{% block content %}
<form id="myForm">
  <p id="instructions">Enter the Part Name and Part Number: </p>
  <input type="text" id="partName" name="partName" placeholder="Part Name" required pattern="^\w+( +\w+)*$" />
  <input type="text" id="partNumber" name="partNumber" placeholder="Part Number" required pattern="^\w+( +\w+)*$" />
  <input type="number" id="partAmount" name="partAmount" min="1" value="1" required pattern="[0-9]{1,5}" />
  <input type="submit" id="submit" value="Add Part">
</form>
<div id="table">
  {#    If the results are empty, throw the following error    #}
  {% if not results %}
  <p style="color:red;">The database is empty, consider adding a part.</p>
  {% else %}
  <table class="table">
    <th>Part Name</th><th>Part Number</th><th>Van</th><th>Amount</th><th>Action</th><br/>
    {% for row in results %}
    <tr>
        <td><p class="thisPartName" id="thisPartName{{ row[0] }}">{{ row[1] }}</p>
            <input type="text" class="partName" id="partName{{ row[0] }}" name="partName" value="{{ row[1] }}" data-value="{{ row[0] }}" /></td>
        <td><p class="thisPartNumber" id="thisPartNumber{{ row[0] }}">{{ row[3] }}</p>
            <input type="text" class="partNumber" id="partNumber{{ row[0] }}" name="partNumber" value="{{ row[3] }}" data-value="{{ row[0] }}" /></td>
        <td><p class="thisVanNumber" id="thisVanNumber{{ row[0] }}">{{ row[4] }}</p>
            <select name="newVan" class="vanNumber" id="vanNumber{{ row[0] }}" name="vanNumber" data-value="{{ row[0] }}">
            {% for row in van_nums %}
            <option id="select{{ row[1] }}" data-value="{{ row[1] }}" value="{{ row[1] }}">{{ row[1] }}</option>
            {% endfor %}
            </select></td>
    <td><p class="thisAmount" id="thisAmount{{ row[0] }}">{{ row[2] }}</p>
        <input type="number" id="newPartAmount{{ row[0] }}" class="newPartAmount" name="newPartAmount" min="1" value="{{ row[2] }}" required pattern="[0-9]{1,5}" /></td>
      <td><p class="confirmMe" id="confirmMe{{ row[0] }}">Are you sure?
        <input type="button" class="yesBtn" id="yesBtn{{ row[0] }}" value="Yes" name="yesBtn"
        data-value="{{ row[0] }}" />
        <input type="button" class="noBtn" id="noBtn{{ row[0] }}" value="No" name="noBtn"
        data-value="{{ row[0] }}" /></p>
        <input type="button" class="deleteBtn" value="Delete" id="deleteBtn{{ row[0] }}" name="deleteBtn"
        data-value="{{ row[0] }}" />
        <input type="button" class="updateBtn" name="updateBtn" id="updateBtn{{ row[0] }}" value="Edit"
        data-value="{{ row[0] }}" />
        <input type="button" class="confirmUpdateBtn" name="confirmUpdateBtn" id="confirmUpdateBtn{{ row[0] }}" value="Submit"
        data-value="{{ row[0] }}" />
        <input type="button" class="cancelUpdateBtn" name="cancelUpdateBtn" id="cancelUpdateBtn{{ row[0] }}" value="Cancel"
        data-value="{{ row[0] }}" />
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}