<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel=stylesheet href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src= "{{ url_for('static', filename='js/reload.js') }}"></script>
    {#  JS Package for the HTMX package  #}
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <title>Inventory Application</title>
</head>
<div id="container" class="container">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
<body>
    <div class="header">
        <h3 id="logoName">Inventory Application</h3>
    </div>
    <div id="sidenav" class="sidenav">
        <a href="/">Inventory</a>
        <a href="/vans">Vans</a>


    </div>
    {#  JS Package for JQUERY  #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {#  Scripts for the sidenav 'hamburger' animation and functionality  #}
    <script src= "{{ url_for('static', filename='js/sidenav-animation.js') }}"></script>
    <script src= "{{ url_for('static', filename='js/sidenav-change.js') }}"></script>
    <div class="main" id="card">
    <form id="myForm">
            <p id="instructions">Enter the Part Name and Part Number: </p>
            <input type="text" id="partName" name="partName" placeholder="Part Name" required pattern="^\w+( +\w+)*$" />
            <input type="text" id="partNumber" name="partNumber" placeholder="Part Number" required pattern="^\w+( +\w+)*$" />
            <select name="van" id="van">
            {% for row in van_nums %}
                <option value="{{ row[1] }}">Van {{ row[1] }}</option>
            {% endfor %}
            </select>
            <input type="submit" id="submit" value="Submit">
        </form>
        <div id="table">
        {#    If the results are empty, throw the following error    #}
        {% if results == [] %}
            <p style="color:red;">The database is empty, consider adding a part.</p>
        {% else %}
            <table border="1" class="table">
            <th>Part Name</th><th>Part Number</th><th>Van</th><th>Action</th><br/>
        {% for row in results %}
              <tr>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td>{{ row[3] }}</td>
                  <td><input type="button" value="Delete" id="deleteBtn" name="deleteBtn"
                             onclick="deleteMe({{ row[0] }})" />
                    <input type="button" name="updateBtn" id="updateBtn" value="Edit"
                           onclick="updateMe({{ row[0] }})" />
                  </td>
              </tr>
        {% endfor %}
            </table>
        {% endif %}
        </div>
    </div>
</body>
</html>