<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet href="{{url_for('static',filename='css/stylelogin.css')}}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <br><br><br><br><br><br><br><br>
<!--    Creating a log in page-->
    <h2>Log In</h2><br><br>
    <div class="login">
        <!--    Creates input for the Email, and Password of making an account-->
    <form action="/login" method="post">
        <input name="Username" type="email" placeholder="Email" required><br>
        <input name="Password" type="password" placeholder="Password" required><br>
        <button type="submit">Login</button>
        <br>
<!--        Create a button if you need to create a new account-->
        <a href="/register" class="button">Create new account</a>
    </form>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
</body>
</html>