{% extends "base.html" %}
{% block scripts %}
<script src= "{{ url_for('static', filename='js/ns/namespace.js') }}"></script>
<script src= "{{ url_for('static', filename='js/partStore/partStore-deletePS.js') }}"></script>
<script src= "{{ url_for('static', filename='js/partStore/partStore-updatePS.js') }}"></script>
<script src= "{{ url_for('static', filename='js/partStore/partStore-addPS.js') }}"></script>
<script src= "{{ url_for('static', filename='js/partStore/partStore-button-animation.js') }}"></script>
{% endblock %}
{% block content %}
{#    If the part_stores is empty, throw the following error    #}
{% if part_store_names == [] %}
<p id="warning">The database is empty, consider adding a part store.</p>
{% else %}
<p id="instructions">Select a part store: </p>
{% endif %}
<div id="table">
<div class="card">
<span id="mySpan" class="table">
  {% for row in part_store_names %}
  <a href="/parts/stores/{{ row[1] }}" id="link">{{ update_form.id(value=row[0]) }}<img id="myCard" src="{{ url_for('static', filename='assets/shuttle-van-solid.svg') }}"
    width="100px" height="100px" /><p class="thisPartStoreName" id="thisPartStoreName{{ row[0] }}">{{ row[1] }}</p></a>
    {% if session['is_admin'] %}
    <form>
      <input type="button" id="deleteBtn{{ row[0] }}" class="deleteBtn" value="Delete" data-value="{{ row[0] }}">
      <input type="button" id="updateBtn{{ row[0] }}" class="updateBtn" value="Edit" data-value="{{ row[0] }}">
        <p class="confirmMe" id="confirmMe{{ row[0] }}">Are you sure?
        <input type="button" class="yesBtn" id="yesBtn{{ row[0] }}" value="Yes" name="yesBtn"
        data-value="{{ row[0] }}" />
        <input type="button" class="noBtn" id="noBtn{{ row[0] }}" value="No" name="noBtn"
        data-value="{{ row[0] }}" /></p>
    {{ update_form.partStoreName(class=update_form.partStoreName.name, id=update_form.partStoreName.name ~ row[0], value=row[1], data_value=row[1]) }}
    {{ update_form.confirmUpdateBtn(class=update_form.confirmUpdateBtn.name, type='button', id=update_form.confirmUpdateBtn.name ~ row[0], data_value=row[1]) }}
    {% endif %}
    <input type="button" class="cancelUpdateBtn" name="cancelUpdateBtn" id="cancelUpdateBtn{{ row[0] }}" value="Cancel"
    data-value="{{ row[0] }}" />
    </form>
    {% endfor %}
  </span>
</div>
</div>
{% if session['is_admin'] %}
  <span id="addPartStore">
    <img id="myCard" src="{{ url_for('static', filename='assets/add-button.svg') }}" width="100px" height="100px" />
  </span><p id="paragraph">Add Part Store</p><form id="formElement">
    {{ form.partStoreName(placeholder=form.partStoreName.label.text) }}
    {{ form.btnSubmit(value=form.btnSubmit.label.text) }}</form>
{% endif %}
  {% endblock %}