{% extends "base.html" %}
{% block scripts %}
<script src= "{{ url_for('static', filename='js/ns/namespace.js') }}"></script>
<script src= "{{ url_for('static', filename='js/parts/parts-addPart.js') }}"></script>
<script src= "{{ url_for('static', filename='js/parts/parts-deletePart.js') }}"></script>
<script src= "{{ url_for('static', filename='js/parts/parts-updatePart.js') }}"></script>
{% endblock %}
{% block content %}
<form id="myForm">
    <p id="instructions">Enter the Part Name,  Part Number, Part Amount, and Part Store: </p>
    {{ form.partName(placeholder=form.partName.label.text, pattern='^\w+( +\w+)*$') }}
    {{ form.partNumber(placeholder=form.partNumber.label.text, pattern='^\w+( +\w+)*$') }}
    {{ form.partAmount(placeholder=form.partAmount.label.text, pattern='[0-9]{1,5}', value=1, min=1) }}
    <select name="partStore" id="partStore">
    {% if form.unit.choices|length == 0 %}
        <option value="" disabled selected>No part stores</option>
    {% else %}
    {#  Make the first item in the loop a disabled default value of SelectField's label  #}
        {% for option in form.partStore %}
            {% if loop.first %}
                <option value="" disabled selected>{{ form.partStore.label.text }}</option>
            {% endif %}
                {{ option }}
        {% endfor %}
    {% endif %}
    </select>
    <select name="unit" id="unit">
    {% if form.unit.choices|length == 0 %}
        <option value="" disabled selected>No part types</option>
    {% else %}
        {% for option in form.unit %}
            {% if loop.first %}
                <option value="" disabled selected>{{ form.unit.label.text }}</option>
            {% endif %}
                {{ option }}
        {% endfor %}
    {% endif %}
    </select>
    {{ form.submit(value='Add Part') }}
</form>
<div id="table">
  {#    If the results are empty, throw the following error    #}
  {% if not results %}
  <p id="warning">The database is empty, consider adding a part.</p>
  {% else %}
  <table class="table">
    <th>Part Name</th><th>Part Number</th><th>Part Store</th><th>Amount</th><th>Type</th><th>Action</th><br/>
    {% for row in results %}
    <tr>
        <td><a href="/parts/{{ row[0] }}">{{ update_form.id(value=row[0]) }}<p class="thisPartName" id="thisPartName{{ row[0] }}">{{ row[1] }}</p></a>
            {{ update_form.partName(class='partName', pattern='^\w+( +\w+)*$', placeholder=update_form.partName.label.text, id='partName' ~ row[0], value=row[1], data_value=row[0]) }}</td>
        <td><p class="thisPartNumber" id="thisPartNumber{{ row[0] }}">{{ row[3] }}</p>
            {{ update_form.partNumber(class='partNumber', pattern='^\w+( +\w+)*$', placeholder=update_form.partNumber.label.text, id='partNumber' ~ row[0], value=row[3], data_value=row[0]) }}</td>
        <td><p class="thisPartStoreName" id="thisPartStoreName{{ row[0] }}">{{ row[4] }}</p>
            {{ update_form.newPartStore(class='partStoreName', id='partStoreName' ~ row[0], data_value=row[0]) }}</td>
    {% if not row[5] %}
    <td><p class="thisAmount" id="thisAmount{{ row[0] }}">{{ row[2] }}</p>
    {% else %}
    <td><p class="thisAmount" id="thisAmount{{ row[0] }}">{{ row[2] }} {{ row[6] }}</p>
    {% endif %}
            {{ update_form.newPartAmount(class=update_form.newPartAmount.name, pattern='[0-9]{1,5}', id=update_form.newPartAmount.name ~ row[0], value=row[2], min=1) }}</td>
        <td><p class="thisPartUnit" id="thisPartUnit{{ row[0] }}">{{ row[5] }}</p>
        {% if not row[5] %}
            <select name="newUnit" class="newUnit" id="newUnit{{ row[0] }}">
            {% for option in update_form.newUnit %}
                {% if loop.first %}
                    <option value="" disabled selected>{{ update_form.newUnit.label.text }}</option>
                {% endif %}
                    {{ option }}
            {% endfor %}
            </select>
        {% else %}
                {{ update_form.newUnit(class='newUnit', id='newUnit' ~ row[0], data_value=row[0]) }}
        </td>
        {% endif %}
        <td><p class="confirmMe" id="confirmMe{{ row[0] }}">Are you sure?
        <input type="button" class="yesBtn" id="yesBtn{{ row[0] }}" value="Yes" name="yesBtn"
        data-value="{{ row[0] }}" />
        <input type="button" class="noBtn" id="noBtn{{ row[0] }}" value="No" name="noBtn"
        data-value="{{ row[0] }}" /></p>
        <input type="button" class="deleteBtn" value="Delete" id="deleteBtn{{ row[0] }}" name="deleteBtn"
        data-value="{{ row[0] }}" />
        <input type="button" class="updateBtn" name="updateBtn" id="updateBtn{{ row[0] }}" value="Edit"
        data-value="{{ row[0] }}" />
        {{ update_form.confirmUpdateBtn(class=update_form.confirmUpdateBtn.name, id=update_form.confirmUpdateBtn.name ~ row[0], data_value=row[0]) }}
        <input type="button" class="cancelUpdateBtn" name="cancelUpdateBtn" id="cancelUpdateBtn{{ row[0] }}" value="Cancel"
        data-value="{{ row[0] }}" />
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}