{% extends "base.html" %}
{% block scripts %}
<script src= "{{ url_for('static', filename='js/ns/namespace.js') }}"></script>
<script src= "{{ url_for('static', filename='js/van/van-deleteVan.js') }}"></script>
<script src= "{{ url_for('static', filename='js/van/van-updateVan.js') }}"></script>
<script src= "{{ url_for('static', filename='js/van/van-addVan.js') }}"></script>
<script src= "{{ url_for('static', filename='js/van/van-button-animation.js') }}"></script>
{% endblock %}
{% block content %}
{#    If the van_numbers is empty, throw the following error    #}
{% if van_numbers == [] %}
<p style="color:red;">The database is empty, consider adding a van.</p>
{% else %}
<p id="instructions">Select a van: </p>
{% endif %}
<div id="table">
<div class="card">
<span id="mySpan" class="table">
  {% for row in van_numbers %}
  <a href="/vans/{{ row[1] }}" id="link">{{ update_form.id(value=row[0]) }}<img id="myCard" src="{{ url_for('static', filename='assets/shuttle-van-solid.svg') }}"
    width="100px" height="100px" /><p class="thisVanNumber" id="thisVanNumber{{ row[0] }}">{{ row[1] }}</p></a>
    {% if session['is_admin'] %}
    <form>
      <input type="button" id="deleteBtn{{ row[0] }}" class="deleteBtn" value="Delete" data-value="{{ row[0] }}">
      <input type="button" id="updateBtn{{ row[0] }}" class="updateBtn" value="Edit" data-value="{{ row[0] }}">
        <p class="confirmMe" id="confirmMe{{ row[0] }}">Are you sure?
        <input type="button" class="yesBtn" id="yesBtn{{ row[0] }}" value="Yes" name="yesBtn"
        data-value="{{ row[0] }}" />
        <input type="button" class="noBtn" id="noBtn{{ row[0] }}" value="No" name="noBtn"
        data-value="{{ row[0] }}" /></p>
    {{ update_form.vanNumber(class=update_form.vanNumber.name, id=update_form.vanNumber.name ~ row[0], value=row[1], data_value=row[1]) }}
    {{ update_form.confirmUpdateBtn(class=update_form.confirmUpdateBtn.name, type='button', id=update_form.confirmUpdateBtn.name ~ row[0], data_value=row[1]) }}
    {% endif %}
    <input type="button" class="cancelUpdateBtn" name="cancelUpdateBtn" id="cancelUpdateBtn{{ row[0] }}" value="Cancel"
    data-value="{{ row[0] }}" />
    </form>
    {% endfor %}
  </span>
</div>
</div>
{% if session['is_admin'] %}
  <span id="addVan">
    <img id="myCard" src="{{ url_for('static', filename='assets/add-button.svg') }}" width="100px" height="100px" />
  </span><p id="paragraph">Add Van</p><form style="display: none;" id="formElement">
    {{ form.van_number(placeholder=form.van_number.label.text) }}
    {{ form.btnSubmit(value=form.btnSubmit.label.text) }}</form>
{% endif %}
  {% endblock %}