<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel=stylesheet href="{{ url_for('static', filename='css/stylesheet.css') }}">
    {#  JS Package for the HTMX package  #}
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <title>Inventory Application</title>
</head>
<div id="container" class="container">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
<body>
    <div class="header">
        <h3 id="logoName">Inventory Application</h3>
    </div>
    <div id="sidenav" class="sidenav">
        <a href="/">Home</a>
        <a href="/parts">Parts</a>
        <a href="/vans">Vans</a>
    </div>
    {#  JS Package for JQUERY  #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {#  Scripts for the sidenav 'hamburger' animation and functionality  #}
    <script src= "{{ url_for('static', filename='js/sidenav-animation.js') }}"></script>
    <script src= "{{ url_for('static', filename='js/sidenav-change.js') }}"></script>
    <div class="main">
    {#    If the van_numbers is empty, throw the following error    #}
        {% if van_numbers == [] %}
            <p style="color:red;">The database is empty, consider adding a van.</p>
        {% endif %}
    <script src= "{{ url_for('static', filename='js/deleteVan.js') }}"></script>
    <script src= "{{ url_for('static', filename='js/updateVan.js') }}"></script>
    <span id="mySpan">
        {% for row in van_numbers %}
        <a href="/vans/{{ row[1] }}" id="link"><img id="myCard" src="{{ url_for('static', filename='assets/shuttle-van-solid.svg') }}"
                                    width="100px" height="100px" /><p id="paragraph">Van {{ row[1] }}</p></a>
                                <form>
                                    <input type="button" id="deleteMe" value="Delete" onclick="deleteVan({{ row[0] }})">
                                    <input type="button" id="updateMe" value="Edit" onclick="updateVan({{ row[0] }})">
                                </form>
        {% endfor %}
    </span>
        <script src= "{{ url_for('static', filename='js/addVan.js') }}"></script>
        {#  JS Package for JQUERY  #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src= "{{ url_for('static', filename='js/van-button-animation.js') }}"></script>
        <span id="addVan">
        <img id="myCard" src="{{ url_for('static', filename='assets/add-button.svg') }}" width="100px" height="100px" />
        </span><p id="paragraph">Add Van</p><form style="display: none;" id="formElement">
        <input type="text" placeholder="Van Number" name="van_number" pattern="^[0-9]{1}$" required>
        <input type="submit" value="Add Van"></form>
    </div>

</body>
</html>